<form>
    <div class="row">
        
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
     
</div>
<br>
<div class="row">
   
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    

</div>
<br>
<div class="row">
 
    <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
</div>
<br>
      <div class="row">
        <div class="col">
 <button type="button" class="btn btn-secondary btn-lg btn-block">Enviar</button>
        </div>
          </div>



  </form>