<form>
  <div class="row">
    <div class="col">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Selector option</option>
        <option value="PL01">Plaza Lama Duarte</option>
        <option value="PL02">Feria</option>
        <option value="PL03">Plaza Lama Herrera</option>
        <option value="PL04">Electrolama Santiago</option>
        <option value="PL05">Liquidacion</option>
        <option value="PL06">Venta al Por Mayor</option>
        <option value="PL08">Plaza Lama 27 Feb.</option>
        <option value="PL09">Tienda Virtual</option>
        
        
      </select>
    </div>
 
    <div class="col">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Type Document</option>
        <option value="1">Identification card</option>
        <option value="2">Passport</option>
        
      </select>
      </div>
      <div class="col">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Selector option</option>
          <option value="1">Consumidor Final</option>
          <option value="2">Credito Fiscal</option>
          <option value="3">Gubernamental</option>
          
        </select>
      </div>
   
</div>

    <div class="row">
        
      <div class="col">
        <input type="text" class="form-control" placeholder="Passport or Identification" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="First Name" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last Name" required>
      </div>
     
</div>
<br>
<div class="row">
   
    <div class="col">
      <input type="text" class="form-control" placeholder="Address" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Phone" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Email" required>
    </div>
    

</div>
<br>
<div class="row">
 
    
      <div class="col">
        <input type="text" class="form-control" placeholder="City" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Phone" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" required>
      </div>
</div>
<br>
      <div class="row">
        <div class="col-md-3 ml-md-auto">
            <button type="button" class="btn btn-secondary btn-lg ">Enviar</button>
        </div>
        <div class="col-5">
            <button type="reset" class="btn btn-danger btn-lg">Limpiar</button>
        </div>
          </div>



  </form>
  