<form>
    <div class="row">
      <div class="col-md-4">
          
        <input type="text" class="form-control" placeholder="First name">
         
      </div>
     
      <div class="col-md-4">
    
        <input type="text" class="form-control" placeholder="Last nombre">
    
      </div>
      
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-4">
            
          <input type="text" class="form-control" placeholder="First name">
           
        </div>
        <div class="col-md-4">
      
          <input type="text" class="form-control" placeholder="Last nombre">
      
        </div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
            
          <input type="text" class="form-control" placeholder="First name">
           
        </div>
        <div class="col-md-4">
      
          <input type="text" class="form-control" placeholder="Last nombre">
      
        </div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
            
          <input type="text" class="form-control" placeholder="First name">
           
        </div>
        <div class="col-md-4">
      
          <input type="text" class="form-control" placeholder="Last nombre">
      
        </div>
        
      </div>

  </form>