<div class="row">

  <app-formpost></app-formpost>
</div>

<div class="row">
<div class="col">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Fecha de Nacimiento</th>
            <th>Lugar de Nacimiento</th>
            <th>Cedula</th>
            <th>Pais</th>
            <th>Padre</th>
            <th>Madre</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mensaje">
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            <td>{{item.nomre}}</td>
            
        </tr>
        
    </tbody>
    </table>
</div>

</div>

