<nav class="navbar  navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.yaryura.com/images/clientes/11.jpg" alt="" width="50" height="30" class="d-inline-block align-top">
        Plaza Lama
        
      </a>
    </div>
  </nav>
  <br>
  <div class="container-fluid">
    <div class="row">
<div class="col">
        <app-formpost></app-formpost>
    </div>
      </div>
      <br>
      
    
<app-tabledate>
</app-tabledate>
</div>